* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {

    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 20px 0px 10px;
    height: 700px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.col-50 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}

#cname,
#ccnum,
#expmonth,
#expyear,
#cvv {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

header {
    background-color: #050606;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.logo img {
    width: 700px;
    height: 100px;
    border-radius: 50%;
}

main {
    background-color: #f7f4f5;
    width: 70%;
    float: left;
}

aside {
    background-color: rgb(255, 255, 255);
    padding: 10px 2%;
    width: 26%;
    float: right;
}

.profile {
    max-width: 180px;

}

.aside-divide-equally {
    display: flex;
    flex-direction: column;
}

.clear {
    clear: both;
}

.aside-section {
    flex: 1;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.key-competencies {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.keep-space li {
    margin-bottom: 10px;
    text-align: justify;
}

.skills {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.other-details {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.main-description {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.about-me {
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #D8D7D5;
}

.objective {
    padding-right: 50px;
    padding-left: 30px;
    text-align: justify;
}

.Personal-description {
    float: right
}

.work-experience {
    background-color: #ADB3BC;
    padding-top: 15px;
}

.vedio {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.country {
    background-color: #D8D7D5;
    padding-top: 15px;
}

.details-of-srilanka {
    text-align: justify;
}

nav {
    background-color: #211815;
    padding: 20px 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    width: 150px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
    transition: font-size 0.5s;
}

nav ul li a:hover {
    text-decoration: underline;
    font-size: 24px;
}

.sub_menu,
.sub_sub_menu {
    position: absolute;
    background-color: #211815;
    padding: 0 0;
    box-shadow: 0 0 10px black;
    display: none;
}

ul.sub_menu li {
    display: block;
    padding: 10px 10px;
}

nav ul li:hover .sub_menu,
nav ul li .sub_menu li:hover .sub_sub_menu {
    display: block;
}

.sub_sub_menu {
    margin-left: 150px;
}

/*checkout page*/

form {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

#demo {
    color: #ff0000;
    margin-top: 10px;
}

.error {
    color: #ff0000;
    font-size: 11px;
    margin-top: 1px;
}

/*shopping cart*/

#shoppingCart {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
}

#cartItems {
    list-style-type: none;
    padding: 0;
}

#cartTotal {
    font-weight: bold;
}

.our-partners {
    text-align: center !important;

}

/*product*/

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 30%;
}

.product img {
    max-width: 100%;
    height: auto;

}

.product h3 {
    font-size: 24px;
    margin: 10px 0;
}

.product p {
    font-size: 18px;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #555;
}

.left-corner {
    flex: 1;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.right-corner {
    flex: 1;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.image-container {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-Button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.set-space {
    padding-top: 30px;
}

footer {
    background-color: #050606;
    padding: 20px;
    text-align: center;
}

footer p {
    color: white;
}


table, th, td {
    margin: 0;
    padding: 0;
}

/* order table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ADB3BC;
    color: white;
}

#receipt {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

#receipt h3 {
    color: #333;
}

#receipt p {
    margin: 10px 0;
    color: #555;
}

#receipt h2 {
    margin-top: 20px;
    color: #333;
}

#receipt p.total {
    font-weight: bold;
    color: #000;
}

#receipt p.error {
    color: #e74c3c;
    font-weight: bold;
}

